.h-font{
    font-family: 'Merienda', cursive;
}
.h-line{
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}

.custom-alert{
    position: fixed;
    top: 25px;
    right: 25px;
}

#dashboard-menu{
    position: fixed;
    height: 100%;
}


@media screen and (max-width:992px) {
    #dashboard-menu{
        height: auto;
        width: 100%;
    }
    #dashboard-main-content{
        margin-top: 60px;
    }
}